<div class="container-fluid">
  
<div class="col">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">List user</h4>
          <div class="table-responsive"> 
              <table class="table table-bordered table-striped verticle-middle">
                  <thead>
                      <tr>
                          <th scope="col">UserName</th>
                          <th scope="col">Email</th>
                          <th scope="col">Address</th>
                          <th scope="col">PhoneNumber</th>
                          <th scope="col">Permission</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>

                    {{#each data}}
                        <tr>
                          <td>{{this.UserName}}</td>
                          <td>{{this.Email}}</td>
                          <td>{{this.Address}}</td>
                          <td>{{this.PhoneNumber}}</td>
                          <td>{{this.Permission.name}}</td>
                          <td><span><a href="/admin/detail-user/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash color-danger"></i></a></span>
                          </td>
                      </tr>
                    {{/each}}
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

</div>
